* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // Photo by <a href="https://unsplash.com/@noaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">NOAA</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
    width: 100%;
    background: url(/images/noaa-ieWHXjjAEwY-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;

    .nav-bar {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .card {
        width: clamp(300px, 80%, 350px);
        margin: 0 auto;
        margin-top: 100px;
        height: 300px;

        .city {
        width: 100%;
        height: 100%;
        background-color: rgb(34, 31, 31);
        mix-blend-mode: screen;
        border-radius: 5px;
        padding: 20px;
        
            .city-temperature {
            padding: 20px;
            font-size: 2rem;
            }
        }
    }
}